* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5e56e6;
    background-image: url(gradient.jpg);
    background-position: top center;
    background-size: 100% auto ;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

body * {
    font-family: 'Inter', sans-serif ;
    line-height: 160%;
}

header {
    text-align: center;
    color: rgb(250, 225, 208);
    margin-top: 32px;
}


header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid rgba(250, 225, 208, 0.397);
    transition: transform .3s;
}

header img:hover {
    transform: scale(1.2,1.2);
}



ul /*caixas */ {
    list-style: none;
    display: flex;
    gap: 25px;
}

/*
main * {
    border: 1px solid wheat;
} */

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
}

section {
    color: rgb(58, 52, 43);
    
}

section div {
    background-color: rgba(250, 225, 208, 0.397);
    padding: 32px;
    padding-top: 24px;
    border-radius: 15px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
    font: bolder;
}

section ul {

    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.4,1.4);
}

.class-socialmedia img {
    width: 40px;
    height: 40px;
}

.class-favshows img {
    width: 80px;
    height: 120px;
    border-radius: 5%;
}

.class-vboard img {
    width: 80px;
    height: 120px;
    border-radius: 5%;
}

.class-favpeople img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.class-prettyme img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

/*ANIMATIONS*/

header div {
    animation: fromTop .5s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}